<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="6">
        <!-- header-section -->
        <div class="header-col-main">
          <div class="arrow-back-circle"><ion-icon name="chevron-back-circle-outline"></ion-icon></div>
          <div class="heart-circle"><ion-icon name="heart-circle-outline"></ion-icon></div>
        </div>
        <!-- Special-Edition & Price-Section -->
        <div class="special-edition-main-box">
          <div>
            <h3>Nike Air Special Edition</h3>
          </div>
          <div class="price">
            <p>$60</p>
          </div>
        </div>
        <!-- Swiper-Section -->
        <div class="swiper-container">
          <swiper-container class="ion-margin-top ion-margin" pagination="true" [breakpoints]="{
            '360':{
              'slidesPerView':1,
              'spaceBetween':30,
            },
            '760':{
              'slidesPerView':2,
              'spaceBetween':10,
            },
            '1221':{
              'slidesPerView':2,
              'spaceBetween':15,
            },
          }">
            <swiper-slide class="b">
              <div class="slider-background-img">
                <ion-img src="/assets/images/shoes_black-removebg-preview.png"></ion-img>
              </div>
            </swiper-slide>

            <swiper-slide class="b">
              <div class="slider-background-img">
                <ion-img src="/assets/images/shoes_black-removebg-preview.png"></ion-img>
              </div>
            </swiper-slide>
            <swiper-slide class="b">
              <div class="slider-background-img">
                <ion-img src="/assets/images/shoes_black-removebg-preview.png"></ion-img>
              </div>
            </swiper-slide>

          </swiper-container>

        </div>
      </ion-col>

      <!-- right-side -->

      <ion-col size="12" size-md="6" size-lg="6">

        <div class="header-col-2">
          <div class="size-left">
            <p>Size</p>
          </div>
          <div class="size-right">
            <p>Size good</p>
          </div>
        </div>
        <!-- sizes-of-products -->
        <ion-list class="size-container">
          <swiper-container class="ion-margin-top ion-margin box-container"[breakpoints]="{
            '325': {
              'slidesPerView': 3,
              'spaceBetween': 10,
            },
            '760': {
              'slidesPerView': 5,
              'spaceBetween': 15,
            },
            '1221': {
              'slidesPerView': 6,
              'spaceBetween': 20,
            } 
          }">
            <swiper-slide><div class="size-box">5</div></swiper-slide>
            <swiper-slide><div class="size-box">5.5</div></swiper-slide>
            <swiper-slide><div class="size-box">6</div></swiper-slide>
            <swiper-slide><div class="size-box">6.6</div></swiper-slide>
            <swiper-slide><div class="size-box">7</div></swiper-slide>
            <swiper-slide><div class="size-box">7.7</div></swiper-slide>
            <swiper-slide><div class="size-box">8</div></swiper-slide>
            <swiper-slide><div class="size-box">8.8</div></swiper-slide>
            <swiper-slide><div class="size-box">9</div></swiper-slide>
            <swiper-slide><div class="size-box">9.9</div></swiper-slide>
          </swiper-container>
        </ion-list>
        <!-- Description-section -->
        <ion-list class="description-div">
          <ion-list class="heading">
            <h2>Description</h2>
          </ion-list>
          <ion-list>
            <p>
              Embracing change often leads to growth and new opportunities. By stepping outside our comfort zones, we
              can discover untapped potential and enhance our skills. Challenges become stepping stones towards success,
              fostering resilience and innovation.
            </p>
          </ion-list>
        </ion-list>
        <!-- add-to-cart-btn -->
         <ion-list class="green-btn-container">
          <ion-list class="btn-success">
            <p>Add to Cart</p>
          </ion-list>
         </ion-list>




      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>