<div class="header">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="left-content">
        <div class="image-container">
          <img src="/assets/images/img_avatar-1.png" alt="Profile">
        </div>
        <div class="welcome-note">
          <h1>WELCOME</h1>
          <p>let's explore trends</p>
        </div>
      </div>
      <ion-buttons slot="end">
        <div class="search-container">
          <ion-searchbar placeholder="Search" class="desktop-search"></ion-searchbar>
          <ion-button class="mobile-search">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>


<ion-content [fullscreen]="true">
  <!-- large-slider-section -->

  <swiper-container style="border: 2px solid black;" class="ion-margin-top ion-margin" pagination="true" [breakpoints]="{
      '360':{
        'slidesPerView':1,
        'spaceBetween':30,
      },
      '760':{
        'slidesPerView':2,
        'spaceBetween':10,
      },
      '1221':{
        'slidesPerView':3,
        'spaceBetween':15,
      },
    }">
    <swiper-slide><img src="/assets/images/s.jpg"></swiper-slide>
    <swiper-slide><img src="/assets/images/s.jpg"></swiper-slide>
    <swiper-slide><img src="/assets/images/s.jpg"></swiper-slide>

  </swiper-container>


  <!-- small-slider -->


  <swiper-container class="ion-margin-top ion-margin" [breakpoints]="{
      '360':{
        'slidesPerView':3,
        'spaceBetween':30,
      },
      '760':{
        'slidesPerView':2,
        'spaceBetween':10,
      },
      '1221':{
        'slidesPerView':4,
        'spaceBetween':15,
      },
    }">
    <swiper-slide>
      <div class="shoe-slider-main-div">
        <div class="left-div">
          <p>Shoe</p>
        </div>
        <div class="button-container">

          <div class="btn-inner-div">
            <ion-button fill="clear" class="add-button">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>

        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="shoe-slider-main-div">
        <div class="left-div" style="background-color: palegreen;">
          <p>Shoe</p>
        </div>
        <div class="button-container">
          <div class="btn-inner-div" style="background-color: palegreen;">
            <ion-button fill="clear" class="add-button">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="shoe-slider-main-div">
        <div class="left-div" style="background-color: rgb(0, 81, 128)">
          <p>Shoe</p>
        </div>
        <div class="button-container">
          <div class="btn-inner-div" style="background-color: rgb(0, 81, 128)">
            <ion-button fill="clear" class="add-button">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="shoe-slider-main-div">
        <div class="left-div" style="background-color: rgb(255, 129, 56)">
          <p>Shoe</p>
        </div>
        <div class="button-container">
          <div class="btn-inner-div" style="background-color: rgb(255, 129, 56)">
            <ion-button fill="clear" class="add-button">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="shoe-slider-main-div">
        <div class="left-div" style="background-color: rgb(9, 160, 155)">
          <p>Shoe</p>
        </div>
        <div class="button-container">
          <div class="btn-inner-div" style="background-color: rgb(9, 160, 155)">
            <ion-button fill="clear" class="add-button">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="shoe-slider-main-div">
        <div class="left-div" style="background-color: rgb(0, 81, 128)">
          <p>Shoe</p>
        </div>
        <div class="button-container">
          <div class="btn-inner-div" style="background-color: rgb(0, 81, 128)">
            <ion-button fill="clear" class="add-button">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- new-arrival & see-all  -->

  <div class="arrivals-container">
    <div class="arrival-heading">
      <h2>New Arrival</h2>
    </div>
    <div class="para-arrival">
      <p>See All</p>
    </div>
  </div>

  <!-- list-of-products-grid -->

  <ion-grid>
    <ion-row class="products">
      <ion-col>
        <div class="product-main-div">
          <div class="shoe-round-box">
            <div class="design-round-box">
              <img src="" alt="" srcset="">
            </div>
          </div>

          <div class="product-detail-div">
            <div class="university"><p>University <br> Shoe for <br> all people</p></div>
            <div class="new">
              <p>New</p>
            </div>
          </div>
          <div class="price-box"></div>

        </div>
      </ion-col>



      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
      <ion-col>4</ion-col>
      <ion-col>5</ion-col>
      <ion-col>6</ion-col>
    </ion-row>
  </ion-grid>









</ion-content>