<div class="header">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <div class="left-content">
          <div class="image-container">
            <img src="/assets/images/img_avatar-1.png" alt="Profile">
          </div>
          <div class="welcome-note">
            <h1>WELCOME</h1>
            <p>let's explore trends</p>
          </div>
        </div>
        <ion-buttons slot="end">
          <div class="search-container">
            <ion-searchbar placeholder="Search" class="desktop-search"></ion-searchbar>
            <ion-button class="mobile-search">
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>

  
  <ion-content [fullscreen]="true">
    <!-- large-slider-section -->

    

  </ion-content>
