<div class="header">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="left-content">
        <div class="image-container">
          <img src="/assets/images/img_avatar-1.png" alt="Profile">
        </div>
        <div class="welcome-note">
          <h1>WELCOME</h1>
          <p>let's explore trends</p>
        </div>
      </div>
      <ion-buttons slot="end">
        <div class="search-container">
          <ion-searchbar placeholder="Search" class="desktop-search"></ion-searchbar>
          <ion-button class="mobile-search">
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>


<ion-content [fullscreen]="true">
  <!-- large-slider-section -->

  <swiper-container class="ion-margin-top ion-margin" pagination="true" [breakpoints]="{
      '360':{
        'slidesPerView':1,
        'spaceBetween':30,
      },
      '760':{
        'slidesPerView':2,
        'spaceBetween':10,
      },
      '1221':{
        'slidesPerView':3,
        'spaceBetween':15,
      },
    }">
    <swiper-slide><img src="/assets/images/s.jpg"></swiper-slide>
    <swiper-slide><img src="/assets/images/s.jpg"></swiper-slide>
    <swiper-slide><img src="/assets/images/s.jpg"></swiper-slide>

  </swiper-container>


  <!-- small-slider -->


  <swiper-container class="ion-margin-top ion-margin" [breakpoints]="{
      '360':{
        'slidesPerView':3,
        'spaceBetween':30,
      },
      '760':{
        'slidesPerView':3,
        'spaceBetween':10,
      },
      '1221':{
        'slidesPerView':4,
        'spaceBetween':15,
      },
    }">
    <swiper-slide>
      <div class="shoe-slider-main-div">
        <div class="left-div">
          <p>Shoe</p>
        </div>
        <div class="button-container">

          <div class="btn-inner-div">
            <ion-button fill="clear" class="add-button">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>

        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="shoe-slider-main-div">
        <div class="left-div" style="background-color: palegreen;">
          <p>Shoe</p>
        </div>
        <div class="button-container">
          <div class="btn-inner-div" style="background-color: palegreen;">
            <ion-button fill="clear" class="add-button">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="shoe-slider-main-div">
        <div class="left-div" style="background-color: rgb(0, 81, 128)">
          <p>Shoe</p>
        </div>
        <div class="button-container">
          <div class="btn-inner-div" style="background-color: rgb(0, 81, 128)">
            <ion-button fill="clear" class="add-button">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="shoe-slider-main-div">
        <div class="left-div" style="background-color: rgb(255, 129, 56)">
          <p>Shoe</p>
        </div>
        <div class="button-container">
          <div class="btn-inner-div" style="background-color: rgb(255, 129, 56)">
            <ion-button fill="clear" class="add-button">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="shoe-slider-main-div">
        <div class="left-div" style="background-color: rgb(9, 160, 155)">
          <p>Shoe</p>
        </div>
        <div class="button-container">
          <div class="btn-inner-div" style="background-color: rgb(9, 160, 155)">
            <ion-button fill="clear" class="add-button">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="shoe-slider-main-div">
        <div class="left-div" style="background-color: rgb(0, 81, 128)">
          <p>Shoe</p>
        </div>
        <div class="button-container">
          <div class="btn-inner-div" style="background-color: rgb(0, 81, 128)">
            <ion-button fill="clear" class="add-button">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- new-arrival & see-all  -->

  <div class="arrivals-container">
    <div class="arrival-heading">
      <h2>New Arrival</h2>
    </div>
    <div class="para-arrival">
      <p>See All</p>
    </div>
  </div>

  <!-- list-of-products-grid -->

  <ion-grid>
    <ion-row class="products">
      <ion-col size="6" size-md="4" size-lg="2">
        <div class="product-main-div">
          <div class="shoe-round-box">
            <div class="design-round-box">
              <div class="img-div"><img src="/assets/images/shoes_black-removebg-preview.png"></div>
            </div>
          </div>

          <div class="product-detail-div">
            <div class="university">
              <p>University <br> Shoe for <br> all people</p>
            </div>
            <div class="new">
              <p>New</p>
            </div>
          </div>

          <div class="price-box">
            <div class="price">
              <p>$736.00</p>
            </div>
            <div class="icon"><ion-icon name="return-down-forward-outline"></ion-icon></div>
          </div>
        </div>
      </ion-col>

      <ion-col size="6" size-md="4" size-lg="2">
        <div class="product-main-div">
          <div class="shoe-round-box">
            <div class="design-round-box" style="background-color: palegreen; border: none;">
              <div class="img-div"><img src="/assets/images/shoes_black-removebg-preview.png"></div>
            </div>
          </div>

          <div class="product-detail-div">
            <div class="university">
              <p>University <br> Shoe for <br> all people</p>
            </div>
            <div class="new">
              <p>New</p>
            </div>
          </div>

          <div class="price-box">
            <div class="price">
              <p>$736.00</p>
            </div>
            <div class="icon"><ion-icon name="return-down-forward-outline"></ion-icon></div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <div class="product-main-div">
          <div class="shoe-round-box">
            <div class="design-round-box" style="background-color: rgb(245, 160, 160); border: 0;
            border-radius: 0; border-top-right-radius: 50%; border-bottom-right-radius: 50%;">
              <div class="img-div"><img src="/assets/images/shoes_black-removebg-preview.png"></div>
            </div>
          </div>

          <div class="product-detail-div">
            <div class="university">
              <p>University <br> Shoe for <br> all people</p>
            </div>
            <div class="new">
              <p>New</p>
            </div>
          </div>

          <div class="price-box">
            <div class="price">
              <p>$736.00</p>
            </div>
            <div class="icon"><ion-icon name="return-down-forward-outline"></ion-icon></div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <div class="product-main-div">
          <div class="shoe-round-box">
            <div class="design-round-box" style="background-color: rgb(7, 117, 114); border: 0; 
            border-radius: 0; border-top-left-radius: 50%; border-bottom-right-radius: 50%;">
              <div class="img-div"><img src="/assets/images/shoes_black-removebg-preview.png"></div>
            </div>
          </div>

          <div class="product-detail-div">
            <div class="university">
              <p>University <br> Shoe for <br> all people</p>
            </div>
            <div class="new">
              <p>New</p>
            </div>
          </div>

          <div class="price-box">
            <div class="price">
              <p>$736.00</p>
            </div>
            <div class="icon"><ion-icon name="return-down-forward-outline"></ion-icon></div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <div class="product-main-div">
          <div class="shoe-round-box">
            <div class="design-round-box">
              <div class="img-div"><img src="/assets/images/shoes_black-removebg-preview.png"></div>
            </div>
          </div>

          <div class="product-detail-div">
            <div class="university">
              <p>University <br> Shoe for <br> all people</p>
            </div>
            <div class="new">
              <p>New</p>
            </div>
          </div>

          <div class="price-box">
            <div class="price">
              <p>$736.00</p>
            </div>
            <div class="icon"><ion-icon name="return-down-forward-outline"></ion-icon></div>
          </div>
        </div>
      </ion-col>
      <ion-col size="6" size-md="4" size-lg="2">
        <div class="product-main-div">
          <div class="shoe-round-box">
            <div class="design-round-box" style="background-color: palegreen; border: none;">
              <div class="img-div"><img src="/assets/images/shoes_black-removebg-preview.png"></div>
            </div>
          </div>

          <div class="product-detail-div">
            <div class="university">
              <p>University <br> Shoe for <br> all people</p>
            </div>
            <div class="new">
              <p>New</p>
            </div>
          </div>

          <div class="price-box">
            <div class="price">
              <p>$736.00</p>
            </div>
            <div class="icon"><ion-icon name="return-down-forward-outline"></ion-icon></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="home-outline"></ion-icon>
            <p>Home</p>
          </ion-col>
          <ion-col>
            <ion-icon name="layers-outline"></ion-icon>
            <p>Category</p>
          </ion-col>
          <ion-col>
            <ion-icon name="heart-outline"></ion-icon>
            <p>Favorite</p>
          </ion-col>
          <ion-col>
            <ion-icon name="person-outline"></ion-icon>
            <p>Profile</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-content>